@media (max-width: 1400px) {
    .socials {
        left: -140px;
    }
}

@media (max-width: 1200px) {
    .promo {
        padding: 207px 50px 0px 50px;
    }

    .about-me {
        &__wrapper {
            grid-template-columns: 350px 533px;
        }

        &__skills {
            row-gap: 20px;
        }
    }

    .tools {
        &__wrapper {
            grid-template:  repeat(2, 270px) / repeat(3, 270px);
        }
    }

    .skills {
        &__wrapper {
            grid-template: repeat(2, 70px) / repeat(3, 280px);
            grid-auto-columns: 280px;
        }

        &__progress-bar {
            width: 280px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(2,230px)/repeat(4,230px);
            grid-auto-rows: 230px;
        }
    }

    .contacts {
        &__wrapper {
            grid-template: minmax(600px,auto)/320px 585px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__menu-block {
            width: 40vw;
        }

        &__menu-overlay {
            width: 60vw;
        }
    }

    .about-me {
        &__wrapper {
            gap: 40px;
            grid-template-columns: 266px 389px;
        }

        &__my-photo {
            img {
                height: auto;
            }
        }

        &__skills {
            grid-template-columns: repeat(2, 185px);
            gap: 20px;
        }

        &__skill-img-wrapper {
            margin-right: 10px;
        }
    }

    .exp-edu {
        &__education {
            padding-left: 43px;
        }
        
        &__experience {
            padding-left: 86px;
        }

        &__info-block {
            width: 255px;
        }
    }

    .tools {
        &__wrapper {
            grid-template:  repeat(2, 223px) / repeat(3, 223px);
            grid-auto-rows: 230px;
            grid-auto-columns: 230px;
        }

        &__tool{
            padding: 15px 15px 10px 15px;
        }

        &__tool-title {
            margin-top: 10px;
        }

        &__text {
            margin-top: 8px;
        }
    }

    .skills {
        &__wrapper {
            grid-template: repeat(2, 70px) / repeat(3, 220px);
            grid-auto-columns: 220px;
        }

        &__progress-bar {
            width: 220px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(3,230px)/repeat(3,230px);
        }

        &__item-vertical {
            grid-row: 1 / 3;
            grid-column: 3 / 4;
        }
    
        &__item-horizontal {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
    }

    .price {
        &__wrapper {
            grid-template: repeat(3, minmax(44px, auto)) / repeat(2,300px);
        }
    }

    .contacts {
        &__wrapper {
            grid-template: minmax(600px,auto)/272px 400px;
        }
        &__name-input, &__email-input {
            input {
                width: 185px;
            }
        }
        &__email-input {
            justify-self: end;
            #email-error {
                width: 185px;
            }
        }
        &__policy {
            input {
                margin-right: 0px;
                margin-top: 3px;
            }
        }
    }
}

@media (max-width: 767px) {

    .title {
        font-size: 26px;
    }

    .promo {
        &__menu-block {
            width: 45vw;
        }

        &__menu-overlay {
            width: 55vw;
        }

        &__menu-socials {
            a {
                margin: 0px 10px;
            }
        }
    }

    .about-me {
        &__wrapper {
            grid-template-areas: 
            "myphoto content"
            "skills skills";
            grid-template-columns: 228px 258px;
            grid-template-rows: minmax(337px, auto) minmax(270px, auto);
            gap: 30px;
        }

        &__skills {
            padding-left: 16px;
            grid-template-rows: repeat(2,minmax(125px,auto));
            justify-content: space-around;
        }
    }

    .exp-edu {
        &__wrapper {
            margin-top: 40px;
        }
        &__education {
            padding-left: 43px;
        }
        
        &__experience {
            padding-left: 56px;
        }

        &__info-block {
            width: 200px;
        }
    }

    .tools {
        &__wrapper {
            grid-template:  repeat(2, 250px) / repeat(2, 250px);
            margin-top: 40px;
        }
        &__tool {
            padding: 20px;
        }
    }

    .skills {
        &__wrapper {
            grid-template: repeat(2, 70px) / repeat(2, 240px);
            grid-auto-columns: 240px;
        }

        &__progress-bar {
            width: 240px;
        }
    }

    .portfolio {
        &__wrapper {
            margin-top: 40px;
            grid-template: repeat(4,230px)/repeat(2,230px);
        }

        &__item-vertical {
            grid-row: 2 / 4;
            grid-column: 2 / 3;
        }
    
        &__item-horizontal {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
        }
    }

    .price {
        &__wrapper {
            margin-top: 60px;
            grid-template: repeat(3, minmax(44px, auto)) / repeat(2,240px);
        }
    }

    .contacts {
        padding: 40px 0px 65px 0px;
        &__wrapper {
            grid-template: minmax(600px,auto)/184px 309px;
        }
        &__form {
            grid-template: minmax(45px, auto) minmax(45px, auto) 190px 45px / 1fr;
        }
        &__name-input, &__email-input {
            input {
                width: 230px;
            }
        }
        &__email-input {
            justify-self: flex-start;
        }
        &__message {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
        &__policy {
            position: relative;
            grid-row: 4/5;
            grid-column: 1/1;
            margin-top: -60px;
            justify-self: start;
            input {
                height: 15px;
                width: 15px;
                margin-right: 15px;
            }
            #policy-error {
                position: absolute;
                top: 31px;
                left: 143px;
                background: none;
            }
        }
    }

    .button {
        &_contacts {
            grid-row: 5/6;
            grid-column: 1/1;
            margin-top: -55px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 200px 0px 0px 30px;
        background: url('../img/promo-bg3.webp') center center/cover no-repeat;

        &__buttons-wrapper {
            width: 240px;
        }

        &__menu-btn {
            right: 20px;
        }

        &__menu-block {
            width: 65vw;
        }

        &__menu-items {
            padding-left: 50px;
            li {
                margin-top: 30px;
                a {
                    font-size: 20px;
                }
            }
        }

        &__menu-socials {
            a {
                margin: 0px 7px;
            }
        }

        &__menu-overlay {
            width: 35vw;
        }
    }

    .title {
        font-size: 29px;
        line-height: 36px;
        text-align: center;
        position: relative;
        &::after{
            position: absolute;
            // top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }

        &_promo {
            text-align: left;
            font-size: 37px;
            line-height: 40px;
            &::after {
                left: 32px;
            }
        }

        &_about-me, &_contacts {
            text-align: left;
            &::after{
                left: 32px;
            }
        }

        &_about-me, &_exp-edu, &_tools, &_portfolio, &_contacts {
            margin-top: 26px;
        }
    }

    .uptitle {
        text-align: center;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }

        &_promo {
            text-align: left;
            &::before {
                top: -7px;
                left: 5px;
            }
        }

        &_about-me, &_skills, &_contacts {
            text-align: left;
            &::before {
                left: 15px;
            }
        }
    }

    .socials {
        display: none;
    }

    .about-me {
        padding: 37px 0px 30px 0px;
        &__wrapper {
            row-gap: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "myphoto"
            "content"
            "skills";
            justify-items: center;
        }

        &__my-photo {
            img {
                height: 100%;
            }
        }

        &__skills {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 40px;
            grid-auto-rows: auto;
            padding-left: 0px;
        }

        &__skill {
            padding-left: 12px;
            width: 300px;
        }

        &__skill-img-wrapper {
            margin-right: 10px;
        }
    }

    .exp-edu {
        &__wrapper {
            grid-template-columns: 1fr;
            margin-top: 30px;
            row-gap: 30px;
        }

        &__info-block {
            width: 259px;
        }

        &__experience {
            padding-left: 43px;
        }
    }

    .tools {
        &__wrapper {
            grid-template:  270px / 270px;
            grid-auto-rows: 270px;
            margin-top: 30px;
        }
        &__tool {
            padding: 30px;
        }
    }

    .skills {
        padding: 40px 0 40px 0;
        &__wrapper {
            grid-template: repeat(2, 70px) / repeat(1, 300px);
            grid-auto-columns: 300px;
            row-gap: 50px;
            justify-content: center;
        }

        &__progress-bar {
            width: 300px;
        }
    }

    .portfolio {
        padding: 20px 0px 20px 0px;
        &__wrapper {
            margin-top: 30px;
            grid-template: repeat(4, 1fr)/repeat(2, 1fr);
        }
    }

    .price {
        padding: 20px 0px 20px 0px;
        &__wrapper {
            grid-template: repeat(6, minmax(44px, auto)) / repeat(1,300px);
            row-gap: 20px;
            justify-content: center;
        }
    }

    .contacts {
        padding: 30px 0px 40x 0px;
        &__wrapper {
            grid-template: minmax(600px,auto)/1fr;
            justify-content: center;

            &__descr {
                margin-top: 35px;
                &:last-child {
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 20px;
                }
            }
        }    
  
        &__my-photo {
            display: none;
        }

        &__name-input, &__email-input {
            width: 100%;
            input {
                width: 100%;
            }
        }

        &__policy {
            margin-top: -41px;
            justify-self: center;
            #policy-error {
                top: 90px;
                left: -30px;
            }
        }

    }

    .button {
        &_contacts {
            margin: -45px auto;
            padding: 0px 20px;
            width: 157px;
        }
    }
}
