@media (max-width: 1400px) {
    .socials {
        left: -140px;
    }
}

@media (max-width: 1200px) {
    .promo {
        padding: 207px 50px 0px 50px;
    }

    .about-me {
        &__my-photo {
            max-height: 100%;
            width: 360px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__menu-block {
            width: 40vw;
        }

        &__menu-overlay {
            width: 60vw;
        }
    }

    .about-me {
        &__wrapper {
            gap: 30px;
        }

        &__my-photo {
            max-height: 100%;
            width: 236px;
        }

        &__skills {
            grid-template-columns: repeat(auto-fit,215px);
        }
        &__skill {
            width: 215px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__menu-block {
            width: 45vw;
        }

        &__menu-overlay {
            width: 55vw;
        }

        &__menu-socials {
            a {
                margin: 0px 10px;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 200px 0px 0px 30px;

        &__buttons-wrapper {
            width: 240px;
        }

        &__menu-btn {
            right: 20px;
        }

        &__menu-block {
            width: 65vw;
        }

        &__menu-items {
            padding-left: 50px;
            li {
                margin-top: 30px;
                a {
                    font-size: 20px;
                }
            }
        }

        &__menu-socials {
            a {
                margin: 0px 7px;
            }
        }

        &__menu-overlay {
            width: 35vw;
        }
    }

    .title {
        font-size: 29px;
        text-align: center;
        position: relative;
        &::after{
            position: absolute;
            // top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }

        &_promo {
            text-align: left;
            font-size: 37px;
            line-height: 40px;
            &::after {
                left: 32px;
            }
        }
    }

    .uptitle {
        text-align: center;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
        &_promo {
            text-align: left;
            &::before {
                top: -7px;
                left: 5px;
            }
        }
    }

    .socials {
        display: none;
    }

    .about-me {
        padding: 37px 0px 30px 0px;
        &__wrapper {
            row-gap: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: 300px auto auto;
            grid-template-areas: 
            "myphoto"
            "content"
            "skills";
            justify-items: center;
        }

        &__skills {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 40px;
            grid-auto-rows: auto;
        }

        &__skill-img-wrapper {
            margin-right: 10px;
        }
    }
}
 
