.about-me {
    padding: 66px 0px 35px 0px;

    &__wrapper {
        display: grid;
        grid-template-columns: 422px 590px;
        grid-template-rows: 245px minmax(150px, auto);
        column-gap: 50px;
        row-gap: 30px;
        grid-template-areas: 
        "myphoto content"
        "myphoto skills";
    }

    &__my-photo {
        width: 100%;
        grid-area: myphoto;
        img {
            border-radius: 20px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        grid-area: content;
    }

    &__text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__skills {
        grid-area: skills;
        display: grid;
        grid-template-columns: repeat(2, 260px);
        gap: 20px;
        grid-template-rows: auto auto;
        justify-content: center;
        // grid-auto-columns: 300px;
        // grid-auto-rows: 130px;
    }

    &__skill {
        width: 100%;
        display: flex;
    }

    &__skill-img-wrapper {
        width: 40px;
        height: 40px;
        margin-right: 25px;
        position: relative;
        &::before {
            content: '';
            height: 36px;
            width: 36px;
            background-color: $main-color;
            position: absolute;
            top: -12px;
            left: -12px;
            border-radius: 100%;
            z-index: -1;
        }
    }

    &__skill-title {
        font-size: 14px;
        font-weight: 700;
    }

    &__skill-descr {
        font-size: 12px;
        font-weight: 500;
    }
}