.socials {
    position: fixed;
    top: 50%;
    left: -119px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    transform: rotate(-90deg) translateY(-50%);
    z-index: 1;

    &__text {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
    }

    &__divider {
        width: 70px;
        height: 2px;
        background-color: #FFF;
    }

    &_menu-active {
        display: none;
    }
}

.test {
    height: 1999px;
    background-color: rgb(255, 255, 255);
}