.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin: 0px;
    &_promo {
        font-size: 48px;
        color: white;
    }
}

.uptitle {
    font-size: 16px;
    font-weight: 700;
    &_promo {
        color: white;
    }
}