.tools {
    padding: 35px 0px 40px 0px;

    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2,270px)/repeat(3,270px);
        grid-auto-columns: 270px;
        grid-auto-rows: 270px;
        gap: 13px;
        justify-content: center;
    }

    &__tool {
        border: 1px solid black;
        border-radius: 20px;
        padding: 30px 30px 25px 30px;
    }

    &__tool-img {
        height: 65px;
        display: flex;
        align-items: center;
        img {
            max-height: 100%;
            display: block;
        }
        &-multi {
            justify-content: space-between;
            img, svg {
                width: 60px;
                &:first-child {
                    width: unset;
                }
            }
        }
    }

    &__tool-title {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
    }

    &__text {
        margin-top: 15px;
        font-size: 12px;
        font-weight: 500;
    }
}