doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous')
    title policy
  body
    .container
      strong A. Introduction
      p
      ol
        li
          | The privacy of our website visitors is very important to us, and we are committed to safeguarding it. This policy explains what we will do with your personal information.
        li
          | Consenting to our use of cookies in accordance with the terms of this policy when you first visit our website permits us to use cookies every time you visit our website.
      strong B. Credit
      br
      |     This document was created using a template from SEQ Legal (seqlegal.com) and modified by Website Planet
      |      (
      a(href='https://www.websiteplanet.com') www.websiteplanet.com
      |     )
      p
      strong C. Collecting personal information
      p
      | The following types of personal information may be collected, stored, and used:
      p
      ol
        li
          | information about your computer including your IP address, geographical location, browser type and version, and operating system;
        li
          | information about your visits to and use of this website including the referral source, length of visit, page views, and website navigation paths;
        li
          | information, such as your email address, that you enter when you register with our website;
        li
          | information that you enter when you create a profile on our website—for example, your name, profile pictures, gender, birthday, relationship status, interests and hobbies, educational details, and employment details;
        li
          | information, such as your name and email address, that you enter in order to set up subscriptions to our emails and/or newsletters;
        li
          | information that you enter while using the services on our website;
        li
          | information that is generated while using our website, including when, how often, and under what circumstances you use it;
        li
          | information relating to anything you purchase, services you use, or transactions you make through our website, which includes your name, address, telephone number, email address, and credit card details;
        li
          | information that you post to our website with the intention of publishing it on the internet, which includes your username, profile pictures, and the content of your posts;
        li
          | any other personal information that you send to us.
          br
          | Before you disclose to us the personal information of another person, you must obtain that person’s consent to both the disclosure and the processing of that personal information in accordance with this policy
      p
      strong D. Using your personal information
      p
      | Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website. We may use your personal information for the following:
      p
      ol
        li administering our website and business;
        li personalizing our website for you;
        li enabling your use of the services available on our website;
        li sending you goods purchased through our website;
        li supplying services purchased through our website;
        li sending statements, invoices, and payment reminders to you, and collecting payments from you;
        li sending you non-marketing commercial communications;
        li sending you email notifications that you have specifically requested;
        li
          | sending you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);
        li
          | sending you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);
        li
          | providing third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);
        li
          | dealing with inquiries and complaints made by or about you relating to our website;
        li keeping our website secure and prevent fraud;
        li
          | verifying compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website private messaging service); and
        li other uses.
      |     If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.
      p
      | Your privacy settings can be used to limit the publication of your information on our website and can be adjusted using privacy controls on the website.
      p
      | We will not, without your express consent, supply your personal information to any third party for their or any other third party’s direct marketing.
      p
      strong E. Disclosing personal information
      p
      | We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers, or subcontractors as reasonably necessary for the purposes set out in this policy.
      p
      | We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) as reasonably necessary for the purposes set out in this policy.
      p
      | We may disclose your personal information:
      p
      ol
        li to the extent that we are required to do so by law;
        li in connection with any ongoing or prospective legal proceedings;
        li
          | in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);
        li
          | to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and
        li
          | to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
      |     Except as provided in this policy, we will not provide your personal information to third parties.
      p
      strong F. International data transfers
      p
      ol
        li
          | Information that we collect may be stored, processed in, and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.
        li
          | Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: the United States of America, Russia, Japan, China, and India.
        li
          | Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.
        li
          | You expressly agree to the transfers of personal information described in this Section F.
      strong G. Retaining personal information
      p
      ol
        li
          | This Section G sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations regarding the retention and deletion of personal information.
        li
          | Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.
        li
          | Without prejudice to article G-2, we will usually delete personal data falling within the categories set out below at the date/time set out below:
          ol(type='a')
            li personal information will be deleted one year after being entered into our database
        li
          | Notwithstanding the other provisions of this Section G, we will retain documents (including electronic documents) containing personal data:
          ol(type='a')
            li to the extent that we are required to do so by law;
            li
              | if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and
            li
              | in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).
      strong H. Security of your personal information
      p
      ol
        li
          | We will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your personal information.
        li
          | We will store all the personal information you provide on our secure (password- and firewall-protected) servers.
        li
          | All electronic financial transactions entered into through our website will be protected by encryption technology.
        li
          | You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
        li
          | You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website).
      strong I. Amendments
      p
      | We may update this policy from time to time by publishing a new version on our website. You should check this page occasionally to ensure you understand any changes to this policy. We may notify you of changes to this policy by email or through the private messaging system on our website.
      p
      strong J. Your rights
      p
      | You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to the following:
      p
      ol
        li the payment of a fee;
        li
          | providing appropriate proof of your identity (we usually accept your name and email address).
      |     We reserve the right to refuse to provide information at your request, within the limits of current legislation.
      p
      | You have the right to instruct us not to process your personal information for marketing purposes.
      p
      | In practice, you will usually either consent in advance to us using your personal information for marketing purposes, or we will provide you with an opportunity to opt-out of the use of your information for marketing purposes.
      p
      strong K. Third party websites
      p
      | Our website includes hyperlinks to, and details of, third party websites. We have no control over, and are not responsible for, the privacy policies and practices of third parties.
      p
      strong L. Updating information
      p
      | Please let us know if the personal information that we hold about you needs to be corrected or updated.
      p
      strong M. Cookies
      p
      | Our website uses cookies. A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and stored by the browser. Subsequently, the identifier is sent back to the server each time the browser requests a web page from the server. Cookies can be either "permanent" or "session": permanent will be stored by the browser and will be valid until the expiration date, unless deleted by the user in advance; "session" ones, on the contrary, will be deleted after the end of the session with the site or after closing the browser. Cookies usually do not contain any information that identifies the user. However, your personal information that we have may be linked to information stored and obtained from cookies. We only use session cookies on our website.
      p
      ol
        li
          | The names of the cookies we use on our website and the purposes for which they are used are listed below:
          ol(type='a')
            li
              | On our website, we use Google Analytics and Adwords to recognize the computer when a user visits the website in order to personalize the site for each user.
        li
          | Most browsers allow you to refuse to accept cookies—for example:
          ol(type='a')
            li
              | in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking “Tools,” “Internet Options,” “Privacy,” and then “Advanced”;
            li
              | in Firefox (version 24) you can block all cookies by clicking “Tools,” “Options,” “Privacy,” selecting “Use custom settings for history” from the drop-down menu, and unticking “Accept cookies from sites”; and
            li
              | in Chrome (version 29), you can block all cookies by accessing the “Customize and control” menu, and clicking “Settings,” “Show advanced settings,” and “Content settings,” and then selecting “Block sites from setting any data” under the “Cookies” heading.
      |     Blocking all cookies will have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use all the features on our website.
      p
      ol(start='3')
        li
          | You can delete cookies already stored on your computer—for example:
          ol(type='a')
            li
              | in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at
              a(href='https://support.microsoft.com/kb/278835' target='_blank' rel='noopener nofollow noreferrer') https://support.microsoft.com/kb/278835
              |                     );
            li
              | in Firefox (version 24), you can delete cookies by clicking “Tools,” “Options,” and “Privacy”, then selecting “Use custom settings for history”, clicking “Show Cookies,” and then clicking “Remove All Cookies”; and
            li
              | in Chrome (version 29), you can delete all cookies by accessing the “Customize and control” menu, and clicking “Settings,” “Show advanced settings,” and “Clear browsing data,” and then selecting “Delete cookies and other site and plug-in data” before clicking “Clear browsing data.”
        li
          | Deleting cookies will have a negative impact on the usability of many websites.