doctype html
html(lang='uk')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Portfolio
    link(rel='apple-touch-icon' sizes='180x180' href='icons/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='icons/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='icons/favicon/favicon-16x16.png')
    link(rel='manifest' href='icons/favicon/site.webmanifest')
    link(rel='mask-icon' href='icons/favicon/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#ffffff')
    const style = require('@/sass/style.scss');
  body
    section.none
      h1.title.title_none-first От халепа..
      h2.title.title_none
        | Схоже, цей проєкт поки що не завершено!
      h3.uptitle.uptitle_none
        | Проте, зараз ви можете подивитись 4 готових проєкти: 
        a.none__link(target='_blank' href='prengi/index.html') Prengi
        | , 
        a.none__link(target='_blank' href='pulse/index.html') Pulse
        | , 
        a.none__link(target='_blank' href='uber/index.html') Uber
        | , 
        a.none__link(target='_blank' href='wordpress/index.html') Wordpress
      a.none__back-link(href='index.html#portfolio') Повернутись назад
