.first-webinar{
    min-height: 520px;
    padding: 82px 0 52px 0;
}
.first-webinar .first-img{
    display: block;
    margin: 0px auto;
}
.first-webinar .first-web-title{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 37px;
}
.first-webinar .first-web-time{
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.first-webinar .first-text{
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}