.optimisation {
    min-height: 550px;
    padding: 102px 0px 107px 0px;
    background: 12% 100%/47% no-repeat url(../img/optimisation/woman_bg.jpg);
}

.optimisation .optimisation-mobile {
    display: none;
}

.optimisation .optimisation-title{
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 391px;
}
.optimisation .optimisation-text{
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-left: 391px;
    margin-top: 25px;
}
.optimisation .bold{
    font-weight: 700;
}