section.empty
    .container
    .empty__head
        img.empty__logo(src=require('../icons/main/logo.png') alt='logo')
    h1.empty__title=ditictionary['empty__title'][lang]
    h2.empty__subtitle=ditictionary['empty__subtitle'][lang]
        a(href='../')=ditictionary['empty__subtitle-Link'][lang]
        | .😉