section.empty
    .container
    .empty__head
        img.empty__logo(src=require('../icons/main/logo.png') alt='logo')
    h1.empty__title Схоже, ця сторінка насправді не існує!
    h2.empty__subtitle
        | Тому, повернемось до перегляду минулої 
        a(href='/') сторінки
        | .😉