.button {
    display: block;
    width: 241px;
    height: 60px;
    background-color: #00c2f0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;

    &_main {
        margin-top: 39px;
    }

    &_startWork {
        margin: 0px auto;
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .button {
        outline: none;
        &_main {
            margin: 0px auto;
            margin-top: 39px;
        }
    }
}