.empty {
    height: 100vh;
    width: 100vw;
    padding: 20px 0;
    background: url(../img/main/mainBg0.jpg) center / cover no-repeat;
    &__title {
        color: white;
        font-size: 42px;
        font-weight: 900;
        text-align: center;
        margin-top: 220px;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        color: white;
        text-align: center;
        a, a:link, a:visited {
            color: white;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

@media (max-width: 991px) {
    .empty {
        &__title {
            font-size: 37px;
        }
        &__subtitle {
            font-size: 22px;
        }
    }
}

@media (max-width: 767px) {
    .empty {
        &__logo {
            object-fit: contain;
            width: 120px;
        }
        &__title {
            font-size: 27px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
}

@media (max-width: 575px) {
    .empty {
        padding: 10px 0;
        &__logo {
            object-fit: contain;
            width: 90px;
        }
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
}