.main {
    min-height: 700px;
    position: relative;
    &__slider-container {
        position: relative;
    }
    &__text-content-wrapper {
        position: absolute;
        top: 39px;
        width: 100%;
    }
    &__head {
        height: 65px;
        display: flex;
        justify-content: space-between;
        &-logo {
            display: block;
        }
        &-menu {
            margin-top: 20px;
            &-item {
                font-size: 13px;
                font-weight: 500;
                color: white;
                margin: 0px 28px;
                text-transform: uppercase;
                &:link, &:visited {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    &__text-wrapper {
        width: 524px;
    }

    &__title {
        margin-top: 133px;
        color: white;
        font-size: 42px;
        font-weight: 900;
    }
    &__subtitle {
        margin-top: 27px;
        font-weight: 300;
        font-size: 24px;
        color: white;
    }

    &__head-logo, &__head-menu-item, &__title, &__subtitle, .button_main {
        position: relative;
        z-index: 2;
    }
}

.splide[aria-label="mainSlider"] {
    z-index: 2;
    .splide__slide {
        img {
            object-fit: cover;
        }
    }

    .splide__arrows {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    
    .splide__pagination {
        position: relative;
        order: 2;
        margin: 0 10px 15px 10px;
        &__page {
            height: 11px;
            width: 11px;
            background:#fff0;
            border: 1px solid white;
        }

        .is-active {
            background: white;
        }
    }
    
    .splide__arrow {
        width: 14px;
        position: relative;
        opacity: 1;
        background: #fff0;
        svg {
            fill: white;
        }
        &--prev {
            order: 1;
        }
        &--next{
            order: 3;
        }
    }
}

@media (max-width: 991px) {
    .main {
        &__head{
            &-menu {
                &-item {
                    margin: 0px 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .main {
        &__head {
            &-logo {
                object-fit: contain;
                width: 120px;
            }
        }
        &__text-content-wrapper {
            .container {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .main {
            .splide[aria-label="mainSlider"] {
            .splide__slide {
                img {
                    object-fit: cover;
                    object-position: -660px;
                }
            }}

        &__text-content-wrapper {
            top: 0px
        }
        &__head {
            &-logo {
                display: block;
                width: 90px;
            }
            &-menu {
                display: none;
            }
        }
        &__text-wrapper {
            width: unset;
        }
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 18px;
            margin-top: 10px;
        }
    }

    .splide[aria-label="mainSlider"] {
        .splide__pagination {
            padding: 0;
        }
        .splide__arrow {
            &--prev {
                left: 0em;
            }
            &--next {
                right: 0em;
            }
        }
    }
}

