.servers {
    min-height: 580px;
    padding: 80px 0px 0px 0px;
    background: url('../img/servers/serversBg0.jpg') center/cover no-repeat;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        min-height: 167px;
        z-index: 1;
        width: 43%;
        margin-top: 128px;
        color: white;
        position: relative;
        &:first-child {
            text-align: right;
        }
        &-title {
            font-size: 30px;
            font-weight: 900;
        }
        &-text {
            font-size: 18px;
            font-weight: 300;
        }
        &::after {
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            right: -39px;
            top: -26px;
            height: 167px;
            width: 167px;
            background-color: #00c0f030;
        }
        &:last-child {
            &::after {
                left: -39px;
            }
        }
    }
}

@media (max-width: 991px) {
    .servers {
        &__block {
            &::after {
                right: -24px;
                top: -11px;
            }
            &:last-child {
                &::after {
                    left: -24px;
                }
            }
        }
    }
}

@media (max-width: 767px){
    .servers {
        padding: 60px 0px 0px 0px;
        &__block {
            width: 41%;
            &-title {
                font-size: 25px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 576px) {
    .servers {
        padding: 40px 0px 20px 0px;
        &__wrapper {
            flex-direction: column;
            justify-content: none;
            align-items: center;
        }
        &__block {
            width: 75%;
            margin-top: 58px;
            text-align: center;
            &:first-child {
                text-align: center;
            }
            &::after {
                left: 50%;
                transform: translateX(-50%);
                top: -11px;
            }
            &:last-child {
                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                    top: -11px;
                }
            }
        }
    }
}