





/* .test {
    border: 1px red solid;
}
.test .container {
    border: 1px red solid;
}
.test .boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 900px;
}
.test .box {
    border: 1px green solid;
    height: 100px;
    width: 100px;
} */







